.bg-white   			{ background-color: $white !important; }
.text-white 			{ color: $white !important; }

.bg-black               { background-color: $black !important; }
.text-black             { color: $black !important; }

.bg-polar        	    { background-color: $color-polar !important; }
.text-polar      	    { color: $color-polar !important; }

.bg-polar-dk            { background-color: $color-polar-dk !important; }
.text-polar-dk          { color: $color-polar-dk !important; }

.bg-vanilla-ice         { background-color: $color-vanilla-ice !important; }
.text-vanilla-ice       { color: $color-vanilla-ice !important; }

.bg-vanilla-ice-dk      { background-color: $color-vanilla-ice-dk !important; }
.text-vanilla-ice-dk    { color: $color-vanilla-ice-dk !important; }
