$base-unit      : 16;
$breakpoint-list: ("", xl, lg, md, sm, xs);

/*
========================================
Utilities */

$spacing-list  : (0, 2, 4, 8, 12, 16, 20, 24, 28, 32, 40, 48, 64, 80, 88);

$dimension-list: (64 , 80 , 120, 160, 184, 200, 240, 280,
                  304, 320, 360, 400, 520, 600, 680, 960);

$direction-list: ("", t, r, b, l, x, y);
