$color-black         : #000;
$color-white         : #fff;

$color-polar         : #e4f9f5;
$color-polar-dk      : darken($color-polar, 8%);

$color-vanilla-ice   : #f3d3d8;
$color-vanilla-ice-dk: darken($color-vanilla-ice, 8%);
